


.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.header {
  display: block;
  background-color: #282c34;
  min-height: 15vh;
  color: white;
  text-align: center;
  padding-top: 2rem
 
}


.cards {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(2px + 2vmin);
  color: rgb(143, 116, 116);
}


.footer {
  display: block;
  background-color: #282c34;
  min-height: 15vh;
  color: white;
  text-align: center;
  padding-top: 2rem;
 border-top: 1px solid #4a515f;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
